.well
  .row
    .col-cs-8
      %h4= dish.name
    .col-xs-4
      = form_for order_item, remote: true do |t|
        %h4.text-right
          Dish Price:
          %span{:style => "color: green"}= number_to_currency product.price
        .input-group
          =f.number_field :quantity, value: 1, class: "form-control", min: 1
            .input-group-btn
              = f.hidden_field :dish_id, value: dish.id
              = f.submit "Add to Cart", class: "btn btn-primary"
