%h1 #{@restaurant.name} menus
- @menus.each do |menu|
  %p= menu.name
  %ul
  - menu.dishes.each do |dish|
    %li= dish.name
    %li= dish.description
    %li= dish.price
    %li= link_to "Add #{dish.name} to cart", add_to_cart_path(dish, @restaurant)
    = flash[:notice]
