%h2 Edit Menu Form
= form_for([:owners, @restaurant, @menu]) do |f|
  .field
    = f.label :name, "Menu Name"
    %br/
    = f.text_field :name, autofocus: true
  .actions
    = f.submit "Save"
    %p
      = flash[:notice]
