!!!
%html
  %head
    %title Slow Food
  %body
    %div
      %ul
        - @restaurants.each do |restaurant|
          %li= restaurant[:name]

          %ul
            %li Street: #{restaurant[:street]}
            %li Email: #{restaurant[:email]}
            %li Phone: #{restaurant[:phone]}


      #map{style: 'width: 800px; height: 400px', data: {test: {env: "#{Rails.env.test?}"}}}
