.well
  .row
    .col-xs-8
      %h4= dish.name
    .col-xs-4
      = form_for order_item, remote: true do |t|
        %h4.text-right
          Dish Price:
          %span{:style => "color: green"}= number_to_currency
order_item.unit_price
        .row
          .col-xs-4
            =t.number_field :quantity, value: order_item.quantity.to_i,
class: "from-control", min: 1
            =t.hidden_field :dish_id, value: dish.id
          .col-xs-8.text-right
            .btn-group
              =t.submit "Update Quantity", class: "btn btn-primary"
              =link_to "Delete", order_item, { data: { confim: "Are you sure you wish to remove '#{order_item.dish.name}' from your order?" }, method: :delete, remote_ true, class: "btn btn-danger" }
        %h4.text-right
          Total Price:
          %span{:style => "color: green"}= number_to_currency order_item.total_price
