%div
  = form_tag(root_path, method: 'get') do
    = label_tag(:category, 'Filter by category: ')
    = collection_select :category, :id, RestCategory.all, :id, :name
    = submit_tag('Filter')

%div
  %ul
    - @restaurants.each do |restaurant|
      %li= link_to (restaurant.name), restaurant_path(restaurant)
      %ul
        %li Address: #{restaurant.address}
        %li Email: #{restaurant.email}
        %li Phone: #{restaurant.phone}
#map{ style: "width: 100%; height: 400px;" }
