!!!
%html
  %head
    %title Slow Food
  %body
    - if user_signed_in?
      = link_to('Log Out', destroy_user_session_path, :method => :delete)
    - else
      = link_to 'Log In', new_user_session_path
      = link_to "Sign Up", new_user_registration_path
    %div
      %ul
        - @restaurants.each do |restaurant|
          %li= link_to (restaurant.name), restaurant_path(restaurant)
          %ul
            %li Address: #{restaurant.address}
            %li Email: #{restaurant.email}
            %li Phone: #{restaurant.phone}


    #map{ style: "width: 100%; height: 400px;" }
