%h1= @restaurant.name
%ul
  %li
    Address:
    = @restaurant.address
  %li Email: #{@restaurant.email}
  %li Phone: #{@restaurant.phone}
  = @restaurant.description
  = link_to "Full menu", restaurant_menus_path(@restaurant)
